/* Dark Theme */
//#page, html, body {
//  background: $dark
//}
//
//#page-header {
//  background: none;
//  color: $light;
//}
//
//#nav-drawer {
//  background: $gray-dark;
//
//  .list-group-item {
//    background: none;
//    color: $light;
//    border: none;
//  }
//}
/* End Dark Theme */

.campus-login-page {
  background: url( https://wallpapercave.com/wp/LHtgR0A.jpg );

  div[role="main"] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #campus-login {
      width: 100%;
      max-width: 55rem;
      box-shadow: 0rem 0rem 1rem 1rem rgba( $black, 0.5 );
      font-size: 0.8rem;

      input {
        background: none;
      }

      .campus-login-logo {
        max-width: 15rem;
        height: auto;
      }
    }
  }
}